 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     width: 100%;
     height: 100vh;
     /* background-color: teal; */
    background: linear-gradient(to right, #8CCB18,rgb(166, 255, 0) );
 }  
  /* #loader {
    display: none;
    text-align: center;
  } */

#loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s  ease forwards 4s;
}

#loader path:nth-child(1) {
    stroke-dasharray: 510.6;
    stroke-dashoffset: 510.6;
    animation: line-anim 2s  ease forwards;
}

#loader path:nth-child(2) {
    stroke-dasharray: 319.6;
    stroke-dashoffset: 319.6;
    animation: line-anim 2s  ease forwards 0.4s;
}

#loader path:nth-child(3) {
    stroke-dasharray: 510.6;
    stroke-dashoffset: 510.6;
    animation: line-anim 2s  ease forwards 0.8s;
}

#loader path:nth-child(4) {
    stroke-dasharray: 426.7;
    stroke-dashoffset: 426.7;
    animation: line-anim 2s  ease forwards 1.2s;
}

#loader path:nth-child(5) {
    stroke-dasharray: 481.2;
    stroke-dashoffset: 481.2;
    animation: line-anim 2s  ease forwards 1.6s;
}

#loader path:nth-child(6) {
    stroke-dasharray: 353.4;
    stroke-dashoffset: 353.4;
    animation: line-anim 2s  ease forwards 2s;
}

#loader path:nth-child(7) {
    stroke-dasharray: 510.6;
    stroke-dashoffset: 510.6;
    animation: line-anim 2s  ease forwards 2.4s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}